<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="card" style="width: 22rem;">
 	<% if (guild.icon) { %>
		<img class="card-img-top" style="width: 100%;" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=256` %>" alt="">
	<% } else { %>
		<canvas style="background-color: #7289da;border-radius:50%;" class="card-img-top" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="250px" height="250px"></canvas>
		<script>
			function draw() {
				const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
				ctx.font = '60px Arial';
				ctx.textAlign = "center";
				ctx.fillStyle = "white";
				ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 125, 160);
			};
			draw();
		</script>
	<% } %>
  <div class="card-body" style="flex: 0 1 auto;">
    <h5 class="card-title"><%= guild.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Sunucu sahibi: <a <%= guild.owner.user.id %>><%= `${guild.owner.user.tag}` %></a></li>
    <li class="list-group-item"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Kullanıcı Sayısı: <%= `${guild.memberCount - guild.members.filter(m => m.user.bot).size}` %></li>
    <li class="list-group-item"><i class="fa fa-fw fa-android" aria-hidden="true"></i> Bot Sayısı: <%= `${guild.members.filter(m => m.user.bot).size}` %></li>
    <li class="list-group-item">Rol Sayısı: <%= guild.roles.size %></li>
    <li class="list-group-item">Kanal Sayısı: <%= `${guild.channels.size}` %>&nbsp;Yazı: <%= `${guild.channels.filter(c => c.type === "text").size}`%>&nbsp;Sesli: <%= `${guild.channels.filter(c => c.type === "voice").size}`%>&nbsp;Kategori: <%= `${guild.channels.filter(c => c.type === "category").size}`%></li>
  </ul>
  <div class="card-body">
    <a class="btn btn-danger" data-toggle="modal" data-target="#serverLeaveModal" role="button"><font color="white">Botu Sunucudan At
			<i aria-hidden="true"></i></font>
		</a>
  </div>
</div>