<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('blocks/header', {bot, user, path}) %>

<div class="container">
		<h2 style="color: #fff;">İstatistikler</h2>
	</div>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Sunucu Sayısı
    <span class="badge badge-primary badge-pill"><%= stats.servers %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Açık Kalma Süresi
    <span class="badge badge-primary badge-pill"><%= stats.uptime %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Kullanıcı Sayısı
    <span class="badge badge-primary badge-pill"><%= stats.members %></span>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    Hafıza Kullanımı
    <span class="badge badge-primary badge-pill"><%= Math.round(stats.memoryUsage) %> MB</span>
  </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
    Kanal Sayısı
    <span class="badge badge-primary badge-pill"><%= stats.channels %></span>
  </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
    Discord.JS Sürümü
    <span class="badge badge-primary badge-pill"><%= stats.dVersion %></span>
  </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
   Node.JS Sürümü
    <span class="badge badge-primary badge-pill"><%= stats.nVersion %></span>
  </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
    Discord.JS-Commando Sürümü
    <span class="badge badge-primary badge-pill">v<%= stats.dcVersion %></span>
  </li>
</ul>

<%- include('./blocks/footer') %>